* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./font/neuemachina-regular-webfont.woff2') format('woff2'),
        /* Modern Browsers */
        url('./font/neuemachina-regular-webfont.woff') format('woff');
    /* Older Browsers */

    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Neue Machina', sans-serif;
    background-color: #CACACA !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    font-family: 'Neue Machina', sans-serif;
}

.default-bg {
    background-color: #CACACA !important;
}

.bold-text {
    font-family: 'Neue Machina', sans-serif;
    font-weight: bold;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
}

.navbar-toggler {
    border: none !important;
}

.login-btn {
    background: none;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 47px 14px 47px;

}

.signup-btn {
    background: black;
    color: white;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 47px 14px 47px;
}

.banner1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.email-field {
    border-radius: 0px !important;
    width: 280px !important;
    height: 52px !important;
}

.section-details {
    font-size: 18px;
}

.section-title {
    border: 1px solid black;
    display: inline-block;
    padding: 6px 16px 6px 16px;
}

.get-started-btn {
    background-color: black !important;
    color: white !important;
    border-radius: 0px !important;
    height: 52px !important;

}

.even-digit-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}


.about-us-points>li {
    font-size: 20px;
    line-height: 28px;
    list-style-type: square;
}

.section-vertical-gap {
    margin-top: 200px;
}

.details-title {
    font-size: 28px;
    line-height: 27.02px;
}

.container-raw {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}





@media (min-width: 768px) {
    .container-raw {
        width: 750px;
    }


}


@media (min-width: 992px) {
    .container-raw {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container-raw {
        width: 1170px;
    }
}

@media (max-width: 425px) {
    .banner1 {
        flex-wrap: wrap;
    }

    .email-field {
        border-radius: 0px !important;
        width: 180px !important;
        height: 52px !important;
    }

    .even-digit-section {
        flex-direction: column-reverse;
    }


}