* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------- neue machina font configuration ---------------------- */
@font-face {
    font-family: 'Neue Machina';
    src: url('./font/neuemachina-regular-webfont.woff2') format('woff2'),
        /* Modern Browsers */
        url('./font/neuemachina-regular-webfont.woff') format('woff');
    /* Older Browsers */

    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Neue Machina', sans-serif;
    background-color: rgba(240, 240, 240, 1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
li,
button {
    font-family: 'Neue Machina', sans-serif;
}

.default-bg {
    background-color: rgba(240, 240, 240, 1) !important;
}

.bold-text {
    font-family: 'Neue Machina', sans-serif;
    font-weight: bolder;
}

.white-text {
    color: white;
}

.hide-bulletpoints {
    list-style-type: none;
}

.hide-bulletpoints>li {
    cursor: pointer;
}

.hide-bulletpoints>li:hover {
    text-decoration: underline;
    transition: .1s ease-in;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
}

.navbar-toggler {
    border: none !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.login-btn {
    background: none;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 47px 14px 47px;
}

.login-btn:hover {
    background-color: black;
    color: white;
}

.signup-btn {
    background: black;
    color: white;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 47px 14px 47px;
}

.signup-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: .1s ease-out;
    position: sticky;
    padding: 13px 46px 13px 46px;
    /* margin-left: -1px; */
}

.banner1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.email-field {
    border-radius: 0px !important;
    width: 280px !important;
    height: 52px !important;
}

.section-details {
    font-size: 18px;
}

.section-title {
    border: 1px solid black;
    display: inline-block;
    padding: 6px 16px 6px 16px;
}

.section-title:hover {
    background-color: black;
    color: white;
    transition: .1s ease-out;
    cursor: default;

}

.get-started-btn {
    background-color: black !important;
    color: white !important;
    border-radius: 0px !important;
    height: 52px !important;

}

.even-digit-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.points-list>li {
    font-size: 20px;
    line-height: 28px;
    list-style-type: square;
}

.section-vertical-gap {
    margin-top: 200px;
}

.pricing-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.pricing-title {
    border: 1px solid black;
    padding: 6px 16px 6px 16px;
}

.pricing-title:hover {
    background-color: black;
    color: white;
    transition: .1s ease-out;
    cursor: default;
}

.pricing-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.pricing-card {
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
}

.pricing-card-black {
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
    background-color: black;
    color: white;
}

.pricing-digit {
    margin-bottom: 61px;
}

.bulletpoint-gap {
    margin-bottom: 26px;
}

.pricing-bulletpoints {
    margin-bottom: 165px;
}

.pricing-card>.join-btn>.bb {
    background: black;
    color: white;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 100px 14px 100px;
    text-align: center;
    cursor: pointer;
}

.pricing-card-black>.join-btn>p {
    background: white;
    color: black;
    border: none;
    font-family: 'Neue Machina', sans-serif;
    padding: 14px 100px 14px 100px;
    text-align: center;
    cursor: pointer;
}

/* bootstrap */

.accordion-item,
.accordion-header,
.accordion-button {
    background-color: rgba(240, 240, 240, 1) !important;
    border: none !important;
}


.faq-section {
    margin-bottom: 200px;
}

.faq-accordions {
    margin-top: 50px;
}

.plus-sign:hover {
    cursor: pointer;
}

.minus-sign:hover {
    cursor: pointer;
}

.thin-text {
    font-size: 15px;
    font-weight: 200;
    color: rgb(64, 64, 64);
}

.footer {
    background-color: black;
}

.footer-container {
    width: 90%;
    margin: 0 auto;

}

.footer-mid-section {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 158px;

}

.footer-brand-logo {
    fill: rgb(255, 255, 255);
}

.footer-social-icons {
    margin-top: 40px;
}

.footer-social-icons>img {
    cursor: pointer;
}

.footer-email-field {
    border-radius: 0px !important;
    width: 280px !important;
    height: 52px !important;
    border: 1px solid white;
    background-color: black !important;
}

.footer-email-field::placeholder {
    color: white !important;
}

.email-subscribe {
    margin-top: 36px;
}

.subscribe-btn {
    background-color: white !important;
    color: black !important;
    border-radius: 0px !important;
    height: 52px !important;
    padding: 13px 46px 13px 46px;
}

.footer-right {
    display: flex;
    gap: 30px;
}

.footer-last-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    margin-top: 20px;
}

.container-raw {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------- media query for responsiveness -------------------*/
@media (min-width: 768px) {
    .container-raw {
        width: 750px;
    }

    .footer-right {}
}

@media (min-width: 992px) {
    .container-raw {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-raw {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .footer-right {
        gap: 10px;
        margin-left: -200px;
    }
}

@media (max-width: 425px) {
    .banner1 {
        flex-wrap: wrap;
    }

    .email-field {
        border-radius: 0px !important;
        width: 180px !important;
        height: 52px !important;
    }

    .even-digit-section {
        flex-direction: column-reverse;
    }

    .bulletpoint-gap {
        margin-bottom: 20px;
    }

    .pricing-cards {
        flex-direction: column;
    }

    .pricing-card {
        padding: 30px 20px 20px 20px;
    }

    .pricing-card-black {
        padding: 30px 20px 20px 20px;
    }

    .pricing-bulletpoints {
        margin-bottom: 65px;
    }

    .footer-mid-section {
        flex-direction: column;
        gap: 50px;
    }

    .footer-right {
        flex-direction: column;
        gap: 50px;
    }

    .subscribe-btn {

        height: 52px !important;
        padding: 7px 20px 7px 20px;
    }

    .footer-ul-links {
        margin-left: -32px;
        margin-top: -40px;
    }
}


@media (max-width: 768px) {

    .pricing-cards {
        gap: 6px;
    }

    .pricing-card {

        padding: 20px 4px 20px 4px;
    }

    .pricing-card-black {

        padding: 20px 4px 20px 4px;

    }
}